header.header{
    padding: 0;
    border-bottom: 5px solid #dfe3ee; 
    
  }
  
  table{
      width: 100%;
  }
  
  td{
      vertical-align: top;
  }
  
  td.info-middle{
    padding: 20px 20px;
  }
  
  td.info-middle h1{
    font-weight: bold;
  }
  
  td.content-education h3{
      padding-left: 100px
  }
  
  td.content-education p{
      padding: 15px 20px 5px 150px;
  }
  
  td.content p{
      padding: 15px 20px 5px 150px;
  }
  
  td.location{
      text-align: right;
  }
  
  h1{
      font-size: 3.2em;
      font-weight: 700;
  }
  
  h2{
      font-size: 2.0;
      font-weight: 700;
  }
  
  .info-small p{
    font-size: 1em;
    margin: 3px 0;
  }
  
  .info-middle{
      vertical-align: middle;
    background-color: #3b5998;
    color: #ffffff;
  }
  
  hr.section-break{
      margin: 0 auto 10px auto;
      border: 3px solid #dfe3ee; 
  }
  
  h2.sec-label{
      margin-top: 15px;
    color: #3b5998;
  }
  
  .container h3{
    color: #8b9dc3;
  }
  
  td.content-education h2.sec-label{
      padding-right: 170px
  }
  
  td.edu{
    padding-right: 80px; 
  }